.container {
  display: block;
  position: relative;
  border: 1px solid var(--color-lightgray);
  padding: 5rem 8rem;
  margin: 1rem 0;
  width: 100%;
  background: white;
  border-radius: 10px;
  text-align: center;
}

.metrics {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 0;
  text-align: left;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.metrics_column {
  position: relative;
}
.vertical_line {
  padding: 0 5rem;
}

.vertical_line:before {
  position: absolute;
  content: "";
  left: 0;
  border-left: 1px solid var(--color-gray);
  opacity: 0.5;
  height: 100%;
}

.metrics h2 {
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.metrics p {
  font-size: 1.5rem;
}
.metrics .col {
  position: relative;
}
.metrics .col:nth-child(1) {
  margin-right: 4rem;
}
.metrics .col:nth-child(2) {
  margin-right: 6rem;
}
.metrics .ver-line {
  padding: 0 5rem;
}
