.container {
  background-color: white;
  border-radius: 2%;
  padding-bottom: 5%;
  /* display: flex; */
}

.logo {
  transform: translateY(-50%);
}

.fw_700 {
  font-weight: 700;
}

.color_darkgray {
  color: hsl(0, 0%, 48%);
}

.bg_green {
  color: white;
  background-color: hsl(176, 50%, 47%);
}

.button_section {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}

.btn {
  padding: 1rem 2rem;
  background: var(--color-cyan);
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  /* box-shadow: 0 5px 5px rgba(207, 207, 207, 0.4); */
  font-weight: 700;
  letter-spacing: 0.03rem;
}

.bookmark {
  position: relative;
  background: #f8f8f8;
  color: var(--color-gray);
  width: 200px;
  transition: all 0.3s ease-in-out;
  text-align: right;
}

.bookmark::before {
  content: "";
  position: absolute;
  background: url(../../../images/icon-bookmark.svg) no-repeat;
  background-size: contain;
  color: white;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
}
