.navbar {
    width: 80%;
    position: absolute !important;
    transform: translate(10%, 0);
}

.navbar__brand {
    color: white !important;
    font-weight: 700;
}

.navbar__collapse a {
    color: white !important;
}