body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-cyan: #3cb4ac;
  --color-darkCyan: #147b74;
  --color-black: black;
  --color-gray: #7a7a7a;
  --color-midgray: #b5b5b5;
  --color-lightgray: #ededed;
  --color-white: whitesmoke;
}